<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RaychsQuotesApp</title>
</head>
<body>
  <h1 class="h1">RaychsQuotesApp</h1>
  <div class="overlay">
  <div class="container">
    <div class="row mt-mb-5" >
     
      <div class="col-md-3">
        <h2 class="h2">My Quotes</h2>
      
        <app-quotes></app-quotes>
      </div>
      <div class="col-md-9">
        <h2> Quotes Form</h2>
        <app-quotes-form></app-quotes-form>
      </div>
    </div>
    </div>
  </div>
  
