.h1{
  text-align: center;
  font-family: fantasy;
  color: palevioletred;
}
.h2{
  text-align: center;
  font-family: fantasy;
  color: pink;
  font-weight: bold;
}
#quotes-button{
  color: rebeccapurple;
  border:none; 
  border-radius:10px; 
  padding:15px;
  height:5px; 
  min-width: 12px;
}